
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&family=Teko:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  box-sizing: border-box;
}
body{
  background:url("images/TNTBackground.jpg");
  background-size:cover;
  background-attachment: fixed;;
  height:100%;
  position:relative;
}

.demoContainer{
  background-color:rgba(0,0,0,.75);
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100%;
  z-index:15;
  display:flex;
  justify-content:center;
  align-items:center;
}

.addToCartContainer{
  background-color:rgba(0,0,0,.75);
  position:absolute;
  top:0px;
  left:0px;
  height:100vh;
  width:100%;
  z-index:15;
  display:flex;
  justify-content:center;
  align-items:center;
}

.demoModal{
  background-color:white;
  min-width:50%;
  max-width:650px;
  padding:25px;
  text-align:center;
  font-family:rubik;
  position: fixed;
}

.demoModal h5{
  font-family:rubik;
  padding:0px 25px 25px;;
}

.demoModal span{
  color:#e63933
}

.demoModal h1{
  font-family: teko;
  font-size:3rem;
}

.demoModal h4{
  font-family: teko;
}

.headerBackground{
  background-color: #25343D;
}

.header-container{
  padding-left:35px;
  padding-right:35px;
}

.productBackground{
  background-color:#f8f8f8;
  padding:50px;
}

.summaryBackground{
  background-color:#f8f8f8;
  padding:25px 50px;
}
header{
  padding: 30px 25px;
}

.removeItem{
  color: #e63933;
  cursor:pointer;
  font-family:teko;
  font-size:1.5rem;
}

header .header-logo{
  cursor:pointer;
}

.productImageDiv{
  position:relative;
}

.productImageDetail{
  width:100%;
  object-fit:scale-down;
  margin-top:25px;
  position:relative;
  opacity:1;
  padding:5px;
}

.productDetails{
  display:flex;
  align-items:center;
}

.descriptionProductPrice{
  color:#2f969a;
  font-family:rubik;
}

.descriptionDivider{
  border-bottom: 5px solid #e63933;
  width:25px;
  opacity:.75;
  margin:15px 0px;
}
.descriptionName{
  font-family:bebas neue;
  color:#444444;
  font-size:3rem;
}
.productDivider{
  border-top: 3px solid #2f969a;
  width:35px;
  opacity:.75;
  margin:5px auto;

}
.descriptionBackground{
  border-radius:5px;
  position:relative;
  display:flex;
  align-items:center;
  box-shadow: 0px 0px 7px #d5d5d5;
  width:100%;
  height:700px;
}

.descriptionProductPrice{
  font-size:1.25rem;
  font-family:rubik;
  margin-bottom:15px;
}
.descriptionImage{
  height:340px;
}
.addToCartButton{
  color:#E63933;
  background-color:transparent;
  border: 2px solid #E63933;
  padding:5px 20px;
  transition:ease all .2s;
  font-family:bebas Neue;
  font-size:1.50rem;
}

.addToCartButton:focus{
  outline:none;
}

.addToCartButton:hover{
  color:white;
  background-color:#E63933;
  border: 2px solid #E63933;
  padding:5px 35px;
}

.addToCartModalButton{
  color:#2f969a;
  background-color:transparent;
  border: 2px solid #2f969a;
  padding:5px 20px;
  transition:ease all .2s;
  font-family:bebas Neue;
  font-size:1.50rem;
}

.addToCartModalButton:hover{
  color:white;
  background-color:#2f969a;
  border: 2px solid #2f969a;
  padding:5px 35px;
}

.close{
  position:absolute;
  top:25px;
  right:25px;
  transition: ease all .2s;
}

.close:hover{
  color:#E63933;
}

.productImage:hover{
  width:100%;
  object-fit:scale-down;
  margin-top:25px;
  position:absolute;
  opacity:0;
}

.productImage{
  width:100%;

  object-fit:scale-down;
  margin-top:25px;
  position:absolute;
  top:0px;
  left:0px;
  opacity:1;
  z-index:2;
  transition:ease all .2s;
}

.productCard{
  cursor:pointer;
}

.productDescription{
  padding:10px;
  text-align:center;
}

.cardContainer{
  margin-top:25px;
}

.productTitle{
  margin-bottom:.25rem;
  color:#3c3c3c;
  font-family:teko;
  font-weight:600;
  font-size:2rem;
}

.price{
  color:#999999;
  font-weight:500;
  margin-bottom:0px;
  font-size: 1.15rem;
}

.descriptionImage{
  width:100%;
  object-fit: scale-down;
}

.descriptionImageBox{
  height:350px;
}

.backToCatalog{
  font-size:1.5rem;
  cursor:pointer;
  transition:all ease .15s;
  color:#acacac;
  transition:ease all .35s;
  font-family:teko;
}
.continueShopping{
  font-size:1.5rem;
  cursor:pointer;
  transition:all ease .15s;
  color:#acacac;
  transition:ease all .35s;
  font-family:teko;
  display:inline;
}

.backToCatalog:hover{
  color:#E63933;
}

.back{
  opacity:.65;
  position:absolute;
  top:25px;
  right:25px;
  font-size:25px;
  z-index:2;
  transition:ease all .25s;
}
.back:hover{
  color:#E63933;
  opacity:1;
  position:absolute;
  top:25px;
  right:25px;
  z-index:25;
}

.cartItemSummaryName{
  font-family:teko;
  font-size:3rem;
  color:#444444;
}

.descriptionContainer{
  padding:25px;
  font-family:rubik;
}
.cartItemSummaryImage{
  width:100%;
  object-fit:contain;
  max-height:300px;
}

.descriptionShortDescription{
  font-family:rubik;
}

.cartItemSummaryImageContainer{
  object-fit:contain;
  background-color:#D8DEFF;
}

.cartItemSummaryDiv{
  box-shadow: 0px 0px 3px #d5d5d5;
}

.cartItemDiv{
  cursor:pointer;
  font-family:bebas neue;
  font-size:1.5rem;
}

.totalPriceHeader{
  display:inline;
  font-family:rubik;
}

.totalPrice{
  color:#2f969a
}

.checkout-button{
  float:right;
}

.modalTitle{
  color:#444444;
}
.formInput{
  border:1px #d5d5d5 solid;
  height:35px;
  padding:0 10px;
  width:100%;
}
.formTitle{
  font-family:rubik;
}

.formSubmit{
  float:right;
}

.formTextArea{
  height:100px;
}

.checkoutTitle{
  font-family:teko;
  font-size:2.75rem;
  display:inline
}

.checkboxDiv{
  display:flex;
  align-items:center;
  margin-top:15px;
}

.checkoutPrice{
  color:#2f969a;
  display:inline;
}

.checkoutPriceForm{
  color:#2f969a;
  display:inline;
  float:right;
  font-size:1.5rem;
}

.formCheckbox{
  padding:20px;
  display:inline;
}

.checkoutPrice{
  font-family:rubik;
  font-size:1.25rem;
}

.demoTitle{
  color:#2f969a;
  font-family:2rem;
}

.checkboxParagraph{
  display:inline;
  margin-bottom:0px;
  margin-left:10px;
  margin-top:3px;
  font-size:14px;
  font-family:rubik;
  color:#8c8c8c;
}

.error-message{
display:inline-block
}

.summaryFooter{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.errorDiv{
  background-color:rgba(0,0,0,.50);
  width:100%;
  height:100%;
  position: absolute;
  top:0px;
  left:0px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.errorModal{
  background-color:#FFFFFF;
  width:50%;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:2.5% 5%;
  height:400px;
}

.hidden{
  display:none;
}
